{% extends "home/index.html" %}

{% block title %}About{% endblock title %}

{% block content %}
    <h2>About</h2>
    <section class="image-about">
        <center>    
            <img src="/static/images/about.jpg" alt="Thiện Hòa" class="responsive-img" style="width:95%;height:auto">
        </center>
    </section>
</br>
    <div class="info">
        <p>My name is Hòa</p>
        <p>I was born in An Nhơn, Bình Định and now I live and work in Hồ Chí Minh, Viet Nam.</p>
        <h5>More information:</h5>
        <span>You can me see at: <a href="https://www.facebook.com/hoatt1097">https://www.facebook.com/hoatt1097</a></span>
        <p>My email: hoatt1097@gmail.com</p>
        <p>My mobie: +84 165 779 0513</p>
    </div>
{% endblock content %}  